.container {
  background: transparent
    linear-gradient(
      180deg,
      hsla(210, 100%, 47%, 1) 0%,
      hsla(210, 100%, 33%, 1) 100%
    )
    0% 0% no-repeat padding-box;
}
.mainContainer {
  max-width: 70rem;
  margin: auto;
  display: flex;

  @media (max-width: 500px) {
    flex-direction: column;
    max-width: 25rem;
  }
  @media (max-width: 375px) {
    padding: 0px 10px;
  }
}

.textContent {
  padding: 30px 0px;
  margin: auto;

  p {
    color: #0077f0;

    @media (max-width: 425px) {
      font-size: 15px;
    }

    @media (max-width: 375px) {
      font-size: 13px;
    }
  }
}

.buttonContainer {
  p {
    display: flex;
    align-items: center;
    font-size: 41px;
    letter-spacing: 0px;
    gap: 5px;
    text-align: left;
    font: normal normal medium 85px/70px Futura Md BT;
    color: #b1d8ff;
    opacity: 1;

    @media (max-width: 425px) {
      font-size: 35px;
    }
  }
}
.box {
  display: flex;

  img {
    width: 67px;
    height: 168px;

    @media (max-width: 550px) {
      width: 45px;
      height: 114px;
    }
  }
}
.featuresList {
  list-style: none;
  padding: 0;
  margin: 0;

  li {
    display: flex;
    gap: 15px;
    align-items: center;
    margin: 1rem 0rem;
    font: normal normal medium 24px/55px Poppins;
    letter-spacing: -0.84px;
    color: #ffffff;
    opacity: 1;
    @media (max-width: 1024px) {
      gap: 10px;
    }
    span {
      font-size: 18px;
      font-weight: 600;
      @media (max-width: 500px) {
        font-size: 12px;
      }
    }
    .featureIcon {
      width: 14px;
      height: 14px;
    }
  }
}

.medication {
  margin-top: 20px;
  @media (max-width: 550px) {
    margin-top: 10px;
  }
  p {
    font: normal normal medium 25px/25px Futura Md BT;
    letter-spacing: -0.88px;
    color: #ffffff;
    opacity: 1;

    @media (max-width: 425px) {
      font-size: 15px;
    }
    span {
      font-weight: bold;
    }
  }
}

.imgContainer {
  position: relative;

  img {
    width: 100%;
  }
}
