.mainContainer {
  width: 85%;
  margin: auto;

  .btnContainer {
    display: flex;
    align-items: center;
    gap: 20px;
    max-width: 80%;

    button {
      width: 150px;
      //   height: 65px;
      background: #0077f0 0% 0% no-repeat padding-box;
      border-radius: 41px;
      opacity: 1;
      border: none;
      color: white;
      display: flex;
      align-items: center;
      justify-content: center;
      font-style: 22px;
      font-weight: 600;
      gap: 10px;
      padding: 0.7rem 0rem;
      text-transform: uppercase;

      img {
        width: 10px;
        height: 18px;
      }
    }

    .nextBtn {
      background: #00468e 0% 0% no-repeat padding-box;
    }
  }
  .submitBtn {
    display: flex;
    justify-content: center;
  }
}
