$primary-color: #0077f0;
$secondary-color: #003b60;
.fieldNine {
  max-width: 70rem;
  margin: auto;
  margin-bottom: 3rem;

  padding: 120px 0px 80px 0px;
  .expand {
    color: #ffffff;
    max-width: 900px;
  }
  .cardHeader {
    background-color: #e9e9e9;
    border: 0px;
    // border-radius: 50px;
    padding: 15px 0px;
    margin-bottom: 30px;
  }

  h2 {
    font-size: 41px;
    font-weight: 500;
    letter-spacing: -1.16px;

    @media (max-width: 576px) {
      font-size: 28px;
    }
    @media (max-width: 375px) {
      font-size: 24px;
    }
  }
  h3 {
    color: #0077f0;
    font-size: 41px;
    font-weight: 500;
    letter-spacing: -1.16px;
    padding-bottom: 20px;

    @media (max-width: 576px) {
      font-size: 28px;
    }
    @media (max-width: 375px) {
      font-size: 24px;
    }
  }
  h4 {
    color: white;
    max-width: 900px;
    margin: auto;
    padding: 60px 0px 20px 0px;
  }
  .plus {
    color: black;
    background-color: #d2d2d2;
    border-radius: 20px;
    width: 43px;
    height: 43px;

    @media (max-width: 576px) {
      width: 30px;
      height: 30px;
    }
    p {
      text-align: center;
      padding-top: 5px;
      font-size: 25px;
      font-weight: bold;

      @media (max-width: 576px) {
        font-size: 15px;
      }
    }
  }
  .rowCard {
    padding: 0px 10px;
    justify-content: space-between;
  }
  .textPart {
    font-size: 1.5rem;
    font-weight: 600;
    padding-top: 6px;

    @media (max-width: 576px) {
      font-size: 1rem;
    }

    @media (max-width: 375px) {
      font-size: 0.9rem;
    }
  }
}
