.mainContainer {
  max-width: 100%;
  margin: auto;
  background: #0077f0;
  // margin-top: 5rem;
  // margin-bottom: 5rem;
  // display: flex;
  // align-items: center;
  // justify-content: space-between;
  // gap: 1.5rem;

  // @media (max-width: 850px) {
  //   flex-direction: column;
  // }

  .content {
    max-width: 50rem;
    margin: auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .txtContainer {
      margin: 7rem 0rem;
    }

    h1 {
      letter-spacing: -1.4px;
      font-size: 37px;
      color: #ffffff;
      margin: 1rem 0rem;
    }

    .inputContainer {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 15px;
      margin: 1.5rem 0rem;
      // justify-content: space-between;

      input {
        width: 271px;
        height: 54px;
        background: #ffffff;
        border-radius: 27px;
        border: none;
        outline: none;
        font-size: 20px;
        color: #bbbbbb;
        font-weight: light;
        letter-spacing: -0.7px;
        padding: 0rem 2rem;
      }
    }

    .btnContainer {
      display: flex;
      justify-content: center;
      margin: 5rem 0rem;
      button {
        position: relative;
        background: black;
        width: 350px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        color: white;
        border-radius: 50px;
        outline: none;
        border: none;
        font-weight: light;
        padding: 10px 20px;
        img {
          position: absolute;
          right: 20px;
        }

        @media (max-width: 375px) {
          max-width: 320px;
        }
        @media (max-width: 330px) {
          max-width: 300px;
        }
      }
    }

    .progressBarContainer {
      margin: 1.5rem 0rem;
      width: 80%;
      background-color: #f0f0f0;

      border-radius: 50px;
      .progressBar {
        height: 8px;
        border-radius: 50px 0px 0px 50px;
        background-color: #0053a8;
        width: 0%;
        transition: width 0.3s ease-in-out;

        &.completed {
          width: 100%;
          border-radius: 50px;
        }
      }
    }
  }
}
