// .reviewCard {
//   background: #fff;
//   border-radius: 10px;
//   padding: 20px;
//   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
//   border: 2px solid black;
// }

// .rating {
//   color: #ffc107;
//   display: flex;
//   justify-content: space-between;
//   width: 50%;
// }

// .date {
//   font-size: 0.8rem;
//   color: #999;
//   margin-top: 5px;
// }

// .reviewText {
//   font-size: 0.9rem;
//   color: #333;
//   margin-top: 10px;
//   width: 50%;
// }

// .reviewerName {
//   font-weight: bold;
//   margin-top: 10px;
// }

// .verifiedCustomer {
//   color: green;
//   font-size: 0.8rem;
//   margin-top: 5px;
// }

.mainContainer {
  margin: 10px;
  box-shadow: 14px 14px 14px rgba(0, 0, 0, 0.1);
  width: 24%;
  border-radius: 25px;

  @media (max-width: 1200px) {
    width: 24%; // Adjust the width on larger tablet screens
  }

  @media (max-width: 992px) {
    width: 24%; // Adjust the width on landscape phones and smaller tablet screens
  }

  @media (max-width: 768px) {
    width: 60%; // Adjust the width on portrait tablets
  }

  @media (max-width: 576px) {
    width: 80%; // Adjust the width on most phones
    margin: 20px auto; // Center the card on small screens
    box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.1); // Optional: reduce shadow size
  }

  @media (max-width: 400px) {
    width: 90%; // Adjust the width on very small screens
    // You might want to adjust padding, font-sizes, and other properties for small screens
  }
  //   padding: 10px;
  .headerContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #757575;
    // width: 300px;
    padding: 18px 20px 35px 20px;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    flex-wrap: wrap;

    // margin-bottom: 10px;
    .date {
      color: white;
      font-size: 16px;
      font-weight: 400;
    }
    .stars {
      display: flex;
      align-items: center;
      img {
        width: 23px;
        // height: 30px;
      }
    }
  }
  .textContainer {
    padding: 20px;
    // border-top-right-radius: 25px;
    // border-top-left-radius: 25px;
    border-radius: 25px;
    // margin-bottom: 20px;
    margin-top: -19px;
    padding-bottom: 40px;

    background-color: white;
    // margin: 10px;
    // width: 30%;
    .para {
      font-size: 18px;
      font-weight: 400;
      padding-bottom: 10px;
    }
    .name {
      margin-top: 12rem;
      font-weight: 600;
    }
    .empty {
      //   margin: 10px;
      visibility: none;
    }
    .verified {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      margin-top: 3px;

      span {
        color: #848484;
        font-size: 14px;
        font-weight: 400;
        margin-left: 3px;
      }

      img {
        width: 17px;
        height: 17px;
      }
    }
  }
}
