.footer {
  background-color: #181818;
  padding-top: 50px;
}
.image {
  display: block;
  margin: auto;
}
.imageContainer {
  display: flex;
  justify-content: center;
}
.telephone {
  text-align: center;
  padding-bottom: 70px;
  p {
    font-size: 13px;
    line-height: 27px;
    color: #ffffff;
    font-weight: 700;
    font-family: "Poppins";
    padding-top: 40px;
    margin-bottom: 0px;
  }
  a {
    font-size: 22px;
    line-height: 27px;
    color: #0077f0;
    font-weight: 700;
    font-family: "Poppins";
  }
}
.links {
  text-align: center;
  a {
    padding: 25px;
    font-size: 13px;
    line-height: 27px;
    color: #9e9e9e;
    font-weight: 400;
    font-family: "Poppins";
  }
}
.footerRow {
  padding: 0px 10px 20px 10px;
  border-bottom: 1px solid #4d4d4d;
  margin-bottom: 20px;
}
.copyright {
  text-align: center;
  font-size: 13px;
  line-height: 27px;
  color: #9e9e9e;
  font-weight: 400;
  font-family: "Poppins";
  padding-bottom: 30px;
  margin-bottom: 0px;
}
@media screen and (max-width: 550px) {
  .link {
    display: block;
  }
  .links a {
    display: block;
    padding: 5px;
    width: 45%;
    float: left;
  }
}
.field{
  background-color: rgb(248, 248, 248);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
margin: 15px 0px;
  border-radius: 15px;
  height: 120px;
}
.switchPlan{
  text-align: center;
  Button{
    width: 100%;
    margin-top: 20px;
  }
}