.button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 25px 40px;
  border-radius: 40px;
  border: none;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;

  @media (min-width: 768px) {
    font-size: 18px;
    padding: 1.11em 4.44em;
    border-radius: 1.95em;
  }

  &.contained {
    background-color: #ff8a00;
    color: #fff;
  }

  &.gradient {
    background: linear-gradient(180deg, #ff8a00 0%, #bb4000 100%);
    color: white;
    font-size: 20px;
    font-weight: 500;
    text-transform: none;
    padding: 12px 33px;
  }
}
