.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 2px dashed #cccccc;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;

  @media (min-width: 992px) {
    padding: 60px;
    gap: 30px;
  }

  & svg {
    width: 10%;
  }

  & span {
    font-size: 18px;
    font-weight: 600;

    & span {
      color: #0077f0;
      text-decoration: underline;
    }
  }

  & input[type="file"] {
    display: none;
  }
}
