$primary-color: #0077f0;
$secondary-color: #003b60;

.differencePage {
  padding: 20px 0px 0px 0px;
  margin-top: 120px;
  .fieldOne {
    background-color: $primary-color;
    padding: 30px 0px;
    z-index: 0;
    h3 {
      font-size: 40px;
      line-height: 60px;
      color: white;
      font-weight: bold;
    }
  }
  .fieldTwo {
    .image {
      position: absolute;
      top: 181px;
    }
    p {
      padding: 30px 0px;
      margin-bottom: 0px;
      font-size: 19px;
      line-height: 30px;
    }
    .rectangles {
      box-shadow: 0px 2px 6px #00000029;
      border-radius: 20px;
      opacity: 1;
      padding: 40px 30px;
      height: 280px;
      h3 {
        font-size: 20px;
        line-height: 25px;
        font-weight: bold;
        margin-bottom: 0px;
      }
      p {
        font-size: 16px;
        line-height: 26px;
        color: #999;
      }
    }
    .grayField {
      background-color: #f3f3f3;
      p {
        font-size: 12px;
        line-height: 22px;
        padding: 40px 40px;
        margin: 80px 0px;
        color: #999;
      }
    }
  }
  .fieldThree {
    padding: 60px 0px;
    background-color: #f3f3f3;
    h2 {
      font-size: 40px;
      line-height: 60px;
      text-align: center;
    }
    p {
      font-size: 18px;
      line-height: 32px;
    }
    b {
      font-size: 22px;
    }
    .imageContainer {
      padding: 40px;
      background-color: #fff;
      border-radius: 50%;
      box-shadow: 0px 3px 6px #00000029;
      max-width: 170px;
    }
    .toKnow {
      padding: 30px 0px;
    }
  }
  h1 {
    font-size: 54px;
    line-height: 81px;
  }
  h2 {
    padding: 30px 0px 30px 20px;
    font-size: 54px;
    font-weight: bold;
  }
  .blueLine {
    height: 5px;
    width: 100%;
    background-color: $primary-color;
    margin-top: 60px;
  }
  p {
    font-size: 17px;
    line-height: 32px;
  }
  .blueBorder {
    border-bottom: 2px solid $primary-color;
  }
}

@media screen and (max-width: 550px) {
  .br {
    display: none;
  }
  .differencePage {
    margin-top: 50px;
    .fieldOne {
      background-color: $primary-color;
      padding: 30px 0px;
      z-index: 0;
      h3 {
        font-size: 25px;
        line-height: 40px;
        color: white;
        font-weight: bold;
      }
    }
    .fieldTwo {
      .image {
        display: block;
        max-width: 100%;
        position: unset;
      }
      p {
        font-size: 15px;
        line-height: 26px;
      }
      .rectangles {
        padding: 30px 20px;
        height: auto;
        margin-top: 30px;
        h3 {
          font-size: 20px;
          line-height: 25px;
          font-weight: bold;
          margin-bottom: 0px;
        }
        p {
          font-size: 16px;
          line-height: 26px;
          color: #999;
        }
      }
    }
    .fieldThree {
      padding: 40px 0px;
      background-color: #f3f3f3;
      h2 {
        font-size: 22px;
        line-height: 34px;
        text-align: left;
      }
      p {
        font-size: 15px;
        line-height: 28px;
      }
      b {
        font-size: 22px;
      }
      .imageContainer {
        display: block;
        margin: auto;
        margin-bottom: 50px;
      }
      .toKnow {
        padding: 30px 0px;
        .images {
          display: block;
          margin: auto;
        }
      }
    }
    h1 {
      font-size: 54px;
      line-height: 81px;
    }
    h2 {
      padding: 30px 0px 30px 20px;
      font-size: 54px;
      font-weight: bold;
    }
    .blueLine {
      height: 5px;
      width: 100%;
      background-color: $primary-color;
      margin-top: 60px;
    }
    p {
      font-size: 17px;
      line-height: 32px;
    }
    .blueBorder {
      border-bottom: 2px solid $primary-color;
    }
  }
}
