$primary-color: #0077f0;
$secondary-color: #003b60;

.differencePage {
  padding: 20px 0px;
  margin-top: 120px;
  .fieldOne {
    background-color: $primary-color;
    padding: 30px 0px;
    z-index: 0;
    h3 {
      font-size: 40px;
      line-height: 60px;
      color: white;
      font-weight: bold;
    }
  }
  .fieldTwo {
    .image {
      position: absolute;
      top: 127px;
    }
    p {
      padding: 30px 0px;
    }
  }
  h1 {
    font-size: 54px;
    line-height: 81px;
  }
  h2 {
    padding: 30px 0px 30px 20px;
    font-size: 54px;
    font-weight: bold;
  }
  .blueLine {
    height: 5px;
    width: 100%;
    background-color: $primary-color;
    margin-top: 60px;
  }
  p {
    font-size: 17px;
    line-height: 32px;
  }
  .blueBorder {
    border-bottom: 2px solid $primary-color;
  }
}

@media screen and (max-width: 550px) {
  .aboutPage {
    padding: 50px 0px 90px 0px;
    h2 {
      padding: 30px 0px 30px 20px;
      font-size: 54px;
      font-weight: bold;
    }
    .blueLine {
      height: 5px;
      width: 100%;
      background-color: $primary-color;
      margin-top: 0px;
      margin-bottom: 40px;
    }
    p {
      padding-top: 20px;
    }
  }
}
