.mainContainer {
  max-width: 70rem;
  //   min-height: 25vh;
  margin: auto;
  margin-top: 12rem;
  margin-bottom: 12rem;
  p {
    margin: 2rem 0rem;
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    color: #989898;
  }
}
.progress {
  width: 50%;
  margin: auto;
  height: 15px;
  border-radius: 20px;
  background: #e9ecef;
  position: relative;
  overflow: hidden;
}

.progress::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: repeating-linear-gradient(135deg, #0077f0 0 10px, #56a9fd 0 20px);
  animation: p3 2s infinite;
}

@keyframes p3 {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
