@import "../../../styles/variables.scss";

.container {
  background-color:#04315e;
  padding: 10px 40px;
  color: white;
  border-radius: 0px 0px 50px 50px;


  @media (max-width: 992px) {
    padding: unset;
  }

  @media (max-width: 550px) {
    padding: 15px;
    .collapse {
      padding-top: 20px;
    }
  }
}

.collapse {
  justify-content: end;
}

.desktop {
  display: block;

  @media (max-width: 992px) {
    display: none;
  }
}

.tablet {
  display: none;
  @media (max-width: 992px) {
    display: flex;
    align-items: center;
  }
}

.link {
  margin: 0 15px;
  color: white !important;
  font-weight: 100;
 
  a {
    &::after {
      display: none;
    }
  }
}

.dropdownLink {
  &:hover,
  &:focus {
    background-color: $primary-background;
  }
}

.nav {
  display: flex;
  align-items: center;

  @media (max-width: 992px) {
    align-items: flex-start;
  }
}

.logo {
  width: 170px;
  object-fit: contain;

  @media (max-width: 992px) {
    width: 130px;
  }
}

.toggle {
  width: 60px !important;
  background-color:#FF8A00 ;
  color: white !important;
  border-radius: 2px !important;
  

  &:focus {
    border-color: transparent !important;
    box-shadow: 0 0 0 0.25rem $primary-box-shadow !important;
  }

  @media (max-width: 992px) {
    padding: 0.1166rem 0.75rem !important;
    span {
      width: 20px;
      height: 20px;
    }
  }
}

.select {
  text-transform: uppercase;
  width: unset;
  font-size: 14px;

  @media (max-width: 992px) {
    font-size: 12px !important;
    padding: 0.25rem 2rem 0.25rem 0.5rem !important;
  }
}

.navbar {
  padding: 10px 0px;
  font-family: "Poppins";
  font-size: 14px;
  font-weight: 600;
}
