$primary-color: #0077f0;
$secondary-color: #003b60;
.fieldNine {
  max-width: 60rem;
  margin-bottom: 3rem;
  margin: auto;
  padding: 3rem 0rem;

  .container {
    h2 {
      text-align: center;
      font-size: 35px;
      margin: 2rem 0rem;
      font-weight: bold;
      letter-spacing: -0.7px;
      opacity: 1;

      @media (max-width: 500px) {
        font-size: 23px;
      }
    }
  }

  .expand {
    .cardHeader {
      background-color: #f7f7f7;
      border: 0px;
      padding: 40px 0px;

      border-radius: 0px;
      border-bottom: 1px solid black;

      .rowCard {
        align-items: center;
        gap: 0.5rem;
        @media (max-width: 500px) {
          gap: 0.3rem;
        }
      }

      .plus {
        color: white;
        background-color: #0077f0;
        border-radius: 5px;
        width: 40px; /* Set a fixed width */
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5px; /* Add padding around the content */
      
        @media (max-width: 500px) {
          width: 24px; /* Set a fixed width */
          height: 24px;
          margin-left: 15px;
        }
        p {
          margin: 0; /* Remove any default margins */
          text-align: center;
          font-size: 30px;
        }

      
      }

      .textPart {
        background-color: #f7f7f7;
        font-size: 23px;
        color: #4a4a4a;
        font-weight: 600;
        padding-top: 6px;

        @media (max-width: 576px) {
          font-size: 14px;
          font-weight: bold;
   
        }

        @media (max-width: 375px) {
          font-size: 0.9rem;
        }
      }

      .dragTxt {
        padding: 1rem 3.5rem;
        font-size: 17.5px;
        color: #8b8b8b;
        letter-spacing: -0.61px;

        @media (max-width: 500px) {
          font-size: 11px;
          letter-spacing: -0.39px;
        }
      }
    }
  }

  .alert {
    background-color: #ffffff;
    border-radius: 12px;
    margin: 5rem 1rem;
    padding: 20px 40px;
    box-shadow: 0px 3px 6px #00000029;

    @media (max-width: 576px) {
      padding: 23px 23px;
    }

    .alertBox {
      display: flex;
      align-items: center;
      gap: 10px;

      h2 {
        font-size: 27px;

        color: rgba(206, 0, 0, 1);

        @media (max-width: 576px) {
          font-size: 17px;
          font-weight: bold;
          margin-top: 10px;
        }
      }
    }

    p {
      margin-top: 20px;
      font-size: 17px;

      @media (max-width: 576px) {
        font-size: 11px;
        font-weight: 600;
      }

      span {
        text-decoration: underline;
        font: italic normal normal 17px/25px Poppins;
        cursor: pointer;
        @media (max-width: 576px) {
          font: italic normal normal 11px/18px Poppins;
          font-weight: 600 !important;
        }
      }
    }
  }
}
