.carousel {
  margin-top: 50px;
  margin-bottom: 50px;
  max-width: 750px;

  & .item {
    background-color: #ffffff;
    border: 3px solid #0077f0;
    background-image: url('../../public/assets//order/quote\ \(2\).png');
    background-repeat: no-repeat;
    background-position: 120% -60px;
    background-size: 200px;
    border-radius: 20px;
    // padding: 35px;
    height: 100%;
    margin-bottom: 60px;
    max-height: 300px;
    // min-height: 300px;
    // max-width: 325px;

    & .content {
      display: flex;
      flex-direction: column;
      gap: 25px;
      padding-top: 30px;
      max-width: 90%;
      min-height: 244px;
      margin-left: auto;
      margin-right: auto;
      // border-bottom: solid 2px #0077f0;

      & .rating {
        position: relative;
        width: 146px;
        height: 26px;
        object-fit: contain;
      }

      & h6 {
        font-size: 18px;
        font-weight: 700;
        color: #0077f0;
        margin: 0;
      }

      & p {
        font-size: 15px;
        color: black;
        line-height: 1.9;
        margin-bottom: 25px;
        font-weight: 600;
      }
    }

    & .footer {
      display: flex;
      align-items: center;
      justify-content: space-between;
      // margin-top: 20px;
      height: 50px;
      background-color: #0077f0;
      padding: 20px;
      height: 50px;
      border-radius: 0px 0px 10px 10px;

      & p {
        margin-bottom: 0;
        font-size: 14px;
      }

      & .verified {
        display: flex;
        align-items: center;
        gap: 5px;
        font-size: 14px;
        font-weight: 400;
        color: white;
      }
    }
  }
  @media (min-width: 1024px) {
    margin-top: 75px;

    & .item {
      & .content {
        & h6 {
          font-size: 20px;
        }
      }

      & .footer {
        display: flex;
        align-items: center;
        justify-content: space-between;
        // margin-top: 20px;
        background-color: #0077f0;
        padding: 20px;
        height: 50px;
        border-radius: 0px 0px 10px 10px;

        & p {
          margin-bottom: 0;
          font-size: 14px;
        }

        & .verified {
          font-size: 14px;
          font-weight: 400;
          color: white;
        }
      }
    }
  }
}
