.carousel {
  margin-top: 50px;
  margin-bottom: 50px;
  max-width: 750px;
  // height: 700px;

  @media (max-width: 500px) {
    max-width: 326px;
  }

  & .item {
    background-color: #ffffff;
    border: 3px solid #0077f0;
    background-image: url("../../public/assets//order/quote\ \(2\).png");
    background-repeat: no-repeat;
    background-position: 120% -60px;
    background-size: 200px;
    border-radius: 20px;
    margin-bottom: 60px;
    // height: 100%;
    // max-height: 300px;
    // height: 380px;

    @media (max-width: 500px) {
      max-height: 380px;
      background-size: 170px;
    }

    & .content {
      display: flex;
      flex-direction: column;
      gap: 25px;
      padding-top: 30px;
      max-width: 90%;
      min-height: 244px;
      margin-left: auto;
      margin-right: auto;

      & .rating {
        position: relative;
        width: 146px;
        height: 26px;
        object-fit: contain;

        @media (max-width: 500px) {
          max-width: 120px;
          height: 20px;
        }
      }

      & h6 {
        font-size: 18px;
        font-weight: 700;
        color: #0077f0;
        margin: 0;
      }

      & p {
        font-size: 15px;
        color: black;
        line-height: 1.9;
        margin-bottom: 25px;
        font-weight: 400;

        @media (max-width: 500px) {
          padding: 0.9rem 0rem;
          font-size: 20px;
          font-weight: 300;
        }
        @media (max-width: 320px) {
          font-size: 18px;
        }
      }
    }

    & .footer {
      display: flex;
      align-items: center;
      justify-content: space-between;
      // margin-top: 20px;
      height: 50px;
      background-color: #0077f0;
      padding: 20px;
      height: 50px;
      border-radius: 0px 0px 10px 10px;

      & p {
        margin-bottom: 0;
        font-size: 14px;
      }

      & .verified {
        display: flex;
        align-items: center;
        gap: 5px;
        font-size: 14px;
        font-weight: 400;
        color: white;
      }
    }
  }
  @media (min-width: 1024px) {
    margin-top: 75px;

    & .item {
      & .content {
        & h6 {
          font-size: 20px;
        }
      }

      & .footer {
        display: flex;
        align-items: center;
        justify-content: space-between;
        // margin-top: 20px;
        background-color: #0077f0;
        padding: 20px;
        height: 50px;
        border-radius: 0px 0px 10px 10px;

        & p {
          margin-bottom: 0;
          font-size: 14px;
        }

        & .verified {
          font-size: 14px;
          font-weight: 400;
          color: white;
        }
      }
    }
  }
}
