// .mainContainer {
//   width: 100%;

//   @media (max-width: "1630px") {
//     width: 30%;
//   }
//   @media (max-width: "1250px") {
//     width: 50%;
//   }
//   @media (max-width: "500px") {
//     width: 90%;
//   }
// }
.widthContainer {
  width: 220px;
  height: 26px;
  text-align: center;
  margin: auto;
  border-radius: 20px;
  margin-top: 20px;
  border: 1px solid rgb(82, 82, 82);
}
.blueFill {
  // width: 98%;
  background-color: #0077f0;
  height: 20px;
  border-radius: 20px;
  margin: 2px;
  transition: width 2s;
}
