.container {
  position: relative;
  background: #ffffff 0% 0% no-repeat padding-box;
  border-radius: 10px;
  padding: 130px 20px 40px;
  text-align: center;
  height: 100%;

  & .icon {
    width: 180px;
    height: 180px;
    position: absolute;
    top: -90px;
    left: 50%;
    transform: translateX(-50%);
  }

  & .title {
    font-size: 18px;
    font-weight: bold;
    color: #0077f0;
    margin-bottom: 20px;
  }

  & .description {
    font-size: 16px;
    font-weight: 400;
  }
}
