.mainContainer {
  background-color: white;
  border-radius: 12px;
  max-width: 70rem;
  margin: auto;
  margin-top: 6rem;
  margin-bottom: 6rem;
  .card {
    background: #f7f7f7;
    border-radius: 20px;
    border: none;
    width: 100%;
    p {
      color: black;
      font: normal normal medium 18px/70px Futura Md BT;
      font-weight: 600;
    }
  }
  h1 {
    font-size: 3rem;
    color: #000;
    margin: 0.8rem 0px;
    letter-spacing: -1.57px;
    font-weight: 600;
    
    @media (max-width: 425px) {
      font-size: 2.3rem;
    }
  }
  h6 {
    font-size: 13px;
  }
}

.btnBox {
  display: flex;
  justify-content: center;
  gap: 5px;
  margin-top: 10px;
  .btn {
    padding: 10px 16px;
    border-radius: 30px;
  }
}
