.mainContainer {
  background-color: #f3f3f3;
  padding: 4rem 0rem;
  height: 43rem;

  .subContainer {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    @media (max-width: "1440") {
      width: 100%;
    }
  }
}
