.mainContainer {
  background-color: #f3f3f3;
  padding: 4rem 0rem;
  height: 43rem;

  .subContainer {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    @media (max-width: "1440") {
      width: 100%;
    }

    .widthContainer {
      width: 220px;
      height: 26px;
      text-align: center;
      margin: auto;
      border-radius: 20px;
      margin-top: 20px;
      border: 1px solid rgb(82, 82, 82);
    }
    .blueFill {
      // width: 98%;
      background-color: #0077f0;
      height: 20px;
      border-radius: 20px;
      margin: 2px;
      transition: width 2s;
    }
  }
}
