.container {
  max-width: 600px;
  padding: 200px 0px;
  h2 {
    font-weight: bold;
    padding: 60px 0px 50px 0px;
  }
  .reset {
    padding-bottom: 60px;
  }
  .resetCaptcha {
    padding-bottom: 100px;
  }
  Button {
    text-align: center;
    margin: auto;
    margin-bottom: 100px;
  }
}
