.mainContainer {
  background-color: white;
  border-radius: 12px;
  max-width: 70rem;
  margin: auto;
  // padding: 10px 15px;
  margin-bottom: 3rem;

  h1 {
    font-size: 40px;
    font-weight: 600;
    letter-spacing: -1.23px;
    color: #000;
    margin: 2rem 0px;
    @media (max-width: 800px) {
      font-size: 1.8rem;
    }
    @media (max-width: 400px) {
      font-size: 1.5rem;
    }
    span {
      font-weight: 500;
      color: #00a6e8;
    }
  }
  h2 {
    font-size: 1.3rem;
  }
  h3 {
    font-size: 1.7rem;
    color: #000;
    margin: 1rem 0px;
  }

  .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;

    @media (max-width: 800px) {
      flex-direction: column;
    }

    .textContent {
      h2 {
        letter-spacing: -1.01px;
        color: #0077f0;
        font-size: 25px;

        @media (max-width: 500px) {
          font-size: 20px;
        }
      }
      h3 {
        letter-spacing: -1.4px;
        color: #000000;
        font-size: 35px;
        font-weight: 500;

        @media (max-width: 500px) {
          font-size: 27px;
        }
        @media (max-width: 400px) {
          font-size: 23px;
        }
      }

      .featuresList {
        list-style: none;
        padding: 0;
        margin: 2rem 0rem;
        li {
          display: flex;
          align-items: center;
          gap: 30px;
          margin-bottom: 0.7rem;

          span {
            font-size: 1.2rem;
            font-weight: 600;
          }
          .featureIcon {
            margin-right: 0.5rem;
          }
        }

        // Tablet and down
        @media (max-width: 768px) {
          li {
            gap: 20px;

            span {
              font-size: 1rem;
            }
          }
        }

        // Mobile and down
        @media (max-width: 576px) {
          li {
            gap: 10px;
            span {
              font-size: 0.9rem;
            }
          }
        }
      }
    }
  }
}
.imageWrapper {
  img {
    width: 350px;
    height: 600px;

    @media (max-width: 500px) {
      max-width: 400px;
      height: 400px;
    }
    @media (max-width: 350px) {
      max-width: 300px;
    }
  }
}

.btnBox {
  display: flex;
  gap: 5px;
  padding: 10px 0px;
  .btn {
    padding: 10px 30px;
    border-radius: 20px;
  }
  @media (max-width: 768px) {
    .btn {
      padding: 8px 20px;
    }
  }

  @media (max-width: 576px) {
    .btn {
      margin-top: 10px;
      padding: 6px 8px;
      width: 100%;
    }
  }
}
