.list {
  background-color: #04315e;

  & .container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px;

    & ul {
      margin: 0;
      padding: 0;
      list-style-type: none;

      @media (min-width: 991px) {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 80px;
      }

      & li {
        color: #fff;
        font-size: 18px;
        font-weight: 500;

        &:not(:last-of-type) {
          margin-bottom: 25px;

          @media (min-width: 991px) {
            margin-bottom: 0px;
          }
        }

        & svg {
          position: relative;
          color: #ff8a00;
          width: 30px;
          height: 30px;
          margin-right: 15px;
        }
      }
    }
  }
}
