.Rectangle {
  display: flex;
  justify-content: center;
  gap: 20px;
  background-color: #f1f1f1;
  padding: 30px;
  text-align: center;
  margin-top: 80px;

  @media screen and (max-width: 676px) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.line {
  top: 1308px;
  left: 690px;
  width: 76px;
  height: 0px;
  border: 3px solid #000000;
  opacity: 1;
  margin-top: 60px;
  // llap
  // laptop 1024px
  // tab 786px
  // 425px
  // 375px
  // 320px
}

.len {
  width: 210px;
}

.color {
  color: #0077f0;
}

.color1 {
  color: #0077f0;
  width: 2px;
}

.len2 {
  width: 150px;
}
