.main {
  margin: 5rem 0px;
}
.mainContainer {
  max-width: 80rem;
  margin: auto;

  h1 {
    margin: 6rem 0rem;
    text-align: center;
    font-size: 35px;
    letter-spacing: -0.7px;
    color: #000000;

    @media (max-width: 500px) {
      margin: 4rem 0rem;
      font-size: 25px;
      letter-spacing: -0.5px;
    }
    @media (max-width: 350px) {
      font-size: 20px;
    }
  }

  .cardSection {
    display: flex;
    justify-content: center;

    // @media (max-width: 425px) {
    //   justify-items: center;
    //   align-items: center;
    //   justify-content: center;
    // }
  }
  .card {
    position: relative;
    width: 313px;
    height: 487px;
    padding: 10px 15px;
    background: transparent
      linear-gradient(
        180deg,
        rgba(255, 255, 255, 1) 0%,
        rgba(241, 241, 241, 1) 100%
      )
      0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    opacity: 1;

    .stepBox {
      position: absolute;
      top: -9px;
      left: 5rem;
      display: flex;
      justify-content: center;
      img {
        width: 145px;
        height: 68px;
      }

      p {
        position: absolute;
        bottom: 0;
        text-align: center;
        font-size: 23px;
        font-weight: 600;
        letter-spacing: -0.81px;
        color: rgba(255, 255, 255, 1);
        opacity: 1;
      }
    }
  }
  .cardBody {
    padding: 0;
  }

  .cardTitle {
    font-size: 20px;
    font: normal normal bold 20px Poppins;
    letter-spacing: -0.7px;
    color: #4a4a4a;
    opacity: 1;
    padding: 20px 0px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.16);
  }
  .cardText {
    font-size: 17.5px;
    letter-spacing: -0.61px;
    color: #4a4a4a;
    opacity: 1;
    padding: 20px 0px;
  }

  .c {
    /* Layout Properties */
    top: 3549px;
    left: 511px;
    width: 145px;
    height: 68px;
    /* UI Properties */
    background: transparent linear-gradient(180deg, #68b3ff 0%, #0077f0 100%) 0%
      0% no-repeat padding-box;
    border-radius: 0px 0px 10px 10px;
    opacity: 1;
  }

  .stepBanner {
    position: relative;
    display: inline-block;
    padding: 5px 15px;
    background-color: #007bff; /* Bootstrap primary color */
    color: white;
    font-weight: bold;
    text-align: center;
  }

  .stepBanner::before,
  .stepBanner::after {
    content: "";
    position: absolute;
    top: 50%;
    border: solid transparent;
    height: 0;
    width: 0;
    pointer-events: none;
  }

  .stepBanner::before {
    border-color: rgba(136, 183, 213, 0);
    border-right-color: #007bff; /* Triangle on the left side */
    border-width: 10px;
    left: 100%; /* Align to the right side */
    margin-top: -10px; /* Adjust to align it vertically centered */
  }

  .stepBanner::after {
    border-color: rgba(194, 225, 245, 0);
    border-left-color: #007bff; /* Triangle on the right side */
    border-width: 10px;
    right: 100%; /* Align to the left side */
    margin-top: -10px; /* Adjust to align it vertically centered */
  }
}
