@import "../../../styles/variables.scss";
.mainSection {
    
  background-color: #dceeff;
  width: 100%;
  height: auto;
  display: flex ;
  flex-direction: row;

  @media only screen and (max-width: 767px) {
  
    height: auto !important;
    flex-direction: column-reverse;
  }
}

.secA{
padding-left: 50px;
padding-right: 50px;
height: auto;
width: 1400px;
@media only screen and (max-width: 767px) {
  padding-left: 50px;
  padding-right: 50px;
  height: auto;
  width: auto;
}}

// @media only screen and (max-width: 1400px) {
 
//  margin-left: auto;
//  margin-right: auto;
//  min-width: 600px;

// }
// }
// .modelImg{
//   height: 800px;
//   max-height: 800px;
//   @media only screen and (max-width: 767px) {
  
//     max-height: 300px !important;
//     max-width: 200px !important;
//     width: 100px;
//     height: 200px !important;
//     background-color: red;
//   }
// }

.secB{
  @media only screen and (max-width: 767px) {
    padding: 20px;
  }
}


.imageContainer{
  padding-top: 30px;
  padding-bottom: 30px;
  @media only screen and (max-width: 767px) {
    display: flex;
    flex-direction: row;
    justify-content: center;
    
  }
}

@media only screen and (max-width: 767px) {
}

.heading{
  font-weight: bold;
  margin-bottom: 20px;
  max-width: 60%;
  @media only screen and (max-width: 767px) {
    max-width: 100%;
    font-size: 22px;
  }
}
.subHeading{
  font-weight: 800;
  color: #0077F0;
  max-width: 60%;
  @media only screen and (max-width: 767px) {
    max-width: 100%;
    
  }
}

.desc{
  color: #000000;
  font-size: 12px;
  font-weight: 450;
  max-width: 60%;
  @media only screen and (max-width: 767px) {
    max-width: 100%;
    
  }
}

.tiks{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 20px;
  
}
.tiksDiv{
  margin-bottom: 40px;
}
.imgDivv{
  width: 50px;
  height: 50px;
}
.text{
  border: 2px solid #0077F0;
  background-color: white;
  color: black;
  font-weight: 600;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 15px;
  // padding-top: 5;
  padding: 10px;
  // margin-top: 10px !important;
line-height: 18px;
font-size: 14px;
max-height: 60px;
margin-left: 30px;
  max-width: 330px;
}