.mainContainer {
  max-width: 70rem;
  margin: auto;
}
.details {
  background: #f3f3f3;
  margin: 5rem 0rem;
  padding: 5rem 0rem;

  @media (max-width: 500px) {
    padding: 3rem 0rem;
  }
}

.upgrade {
  max-width: 70rem;
  margin: auto;
  margin-bottom: 7rem;
}
