.upgradeSection {
  max-width: 57rem;
  margin: auto;
  text-align: center;

  h2 {
    font: normal normal bold 39px/61px Poppins;
    letter-spacing: -1.36px;
    opacity: 1;

    @media (max-width: 500px) {
      font: normal normal bold 28px/61px Poppins;
      letter-spacing: -0.98px;
    }
    @media (max-width: 350px) {
      font-size: 23px;
    }
  }

  .card,
  .selectedCard {
    margin: auto;
    margin-top: 30px;
    position: relative;
    width: 280px;
    height: 387px;
    background: transparent linear-gradient(180deg, #ffffff 0%, #f1f1f1 100%) 0%
      0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 13px;
    opacity: 1;

    .stepBox {
      position: absolute;
      top: -13px;
      display: flex;
      justify-content: center;
      img {
        width: 85%;
      }
      p {
        position: absolute;
        top: 30px;
        text-align: center;
        font: normal normal bold 21px/33px Poppins;
        letter-spacing: -0.73px;
        opacity: 1;
      }
      .pColor {
        color: #4c6472;
      }
      .pColor2 {
        color: #ffffff;
      }
    }
  }

  .cardBody {
    padding: 6rem 0.5rem;
    display: flex;
    flex-direction: column;
  }

  .listBox {
    display: flex;
    align-items: center;
    gap: 10px;
    border-bottom: 1px solid #d8d8d8;
    padding: 10px 0px;
    img {
      width: 21px;
      height: 21px;
    }
    p {
      font-size: 16px;
      padding: 0px;
      text-align: left;
      letter-spacing: -0.56px;
      color: #4a4a4a;
      opacity: 1;
    }

    .cardTxt {
      color: #ffffff;
    }
  }

  button {
    margin: 2rem 0rem;

    &:hover {
      box-shadow: none;
      color: white;
    }
  }

  .btn {
    width: 263px;
    height: 42px;
    background: transparent linear-gradient(180deg, #0077f0 0%, #0062c7 100%) 0%
      0% no-repeat padding-box;
    border-radius: 21px;
    opacity: 1;
  }
  .btn2 {
    width: 263px;
    height: 42px;
    background: #000000 0% 0% no-repeat padding-box;
    border-radius: 21px;
    opacity: 1;
  }

  .selectedCard {
    background: transparent
      linear-gradient(180deg, rgba(0, 119, 240, 1) 0%, rgba(0, 83, 167, 1) 100%)
      0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    border-radius: 13px;
    opacity: 1;
  }

  .upgradeButtonContainer {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    button {
      width: 558px;
      height: 61px;
      background: transparent linear-gradient(180deg, #ef2929 0%, #940000 100%)
        0% 0% no-repeat padding-box;
      border-radius: 31px;
      opacity: 1;
      padding: 0;
      text-align: center;
      font: normal normal bold 25px/61px Poppins;

      &:hover {
        box-shadow: none;
        color: white;
      }
      @media (max-width: 500px) {
        width: 365px;
        height: 40px;
        font: normal normal bold 16px/39px Poppins;
        letter-spacing: 0px;
      }
    }
  }
}
