.treatmentModal {
  position: relative;
  background: none;
  .modalBody {
    height: 500px;
    // background-color: red;
    position: relative;
    border-radius: 25px;
    padding: 2rem;
    text-align: center;

    .closeButton {
      position: absolute;
      top: 0.5rem;
      right: 0.5rem;
      border: none;
      background: none;
      font-size: 2rem;
      cursor: pointer;
    }

    .contentWrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      .image {
        top: 10.5rem;
        left: -30px;
        position: absolute;
        max-width: 30%;
        height: 300px;
      }

      .treatment {
        display: flex;
        flex-direction: column;
      }

      h2 {
        font-size: 2rem;
        margin-top: 1rem;
        margin-bottom: 0.5rem;
      }

      p {
        margin-bottom: 1rem;
      }

      .getStartedButton {
        margin: auto; // Adjust as needed
        padding: 0.5rem 2rem;
        font-size: 1rem;
        margin-bottom: 0.5rem;
        background-color: #0077f0;
        width: 201px;
        height: 47px;
      }

      .takesTimeText {
        font-size: 0.8rem;
        color: #666;
      }
    }
  }
}
