@import "../../../styles/variables.scss";

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  padding: 5rem;
  @media only screen and (max-width: 767px) {
    gap: 2rem;
    padding: 1rem;
  }

  & h1 {
    text-align: center;
    font: normal normal bold 50px/50px Poppins;
    letter-spacing: 0px;
    color: #0077f0;
    opacity: 1;
    @media only screen and (max-width: 767px) {
      font-size: 25px;
    }
  }
  & h3 {
    text-align: center;
    font: normal normal bold 40px/50px Poppins;

    color: #000000;
    opacity: 1;
    max-width: 1000px;
    @media only screen and (max-width: 767px) {
      font-size: 20px;
      line-height: 25px;
      margin-top: -20px;
    }
  }
}
.chart {
  width: 80%;
  margin-left: auto !important;
  margin-right: auto !important;
  display: flex;
  justify-content: center;
  align-items: center;
  @media (max-width: 767px) {
    display: none;
  }
}
.chartMobile {
  display: none;

  @media (max-width: 767px) {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto !important;
    margin-right: auto !important;
  }
}
