.container {
  position: absolute;
  top: -180px;
  max-width: 70rem;
  margin: auto;

  @media (max-width: 576px) {
    top: -200px;
  }
}

.cardRow {
  margin: 0 auto;
}

.cardBody {
  // border-radius: 50%;
}

.cardColumn {
  padding: 0.5rem;
}

.card {
  max-width: 227px;
  height: 250px;
  border-radius: 10%;

  // @media (max-width: 375px) {
  //   width: 80%;
  //   height: 250px;
  // }
}

.cardImg {
  border-top-left-radius: 10%;
  border-top-right-radius: 10%;
  background: none;
}

.cardButton {
  background: #0d6efd;
  color: white;
  padding: 2px 5px;
  padding-top: 5px;
}

.cardContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.cardTitle {
  // flex-grow: 1;
  font-size: 0.9rem;
}

.slide {
  @media (max-width: 375px) {
    width: 180px !important;
  }
}
