.container {
  position: absolute;
  top: -180px;
  max-width: 70rem;

  @media (max-width: 576px) {
    top: -200px;
    margin-left: -10px;
  }
}

.cardRow {
  margin: 0 auto;
}

.cardColumn {
  padding: 0.5rem;
  overflow: visible;
}

.card {
  max-width: 227px;
  height: 250px;
  border-radius: 10%;
  overflow: visible;
}

.slide {
  overflow: visible;
  &:hover {
    .card {
      cursor: pointer;
      transition: scale 1s;
      scale: (1.05);
      transition-timing-function: ease-in-out;
    }
  }
}
.swipet-wrapper {
  overflow: visible;
}

.cardImg {
  border-top-left-radius: 10%;
  border-top-right-radius: 10%;
  background: none;
  object-fit: cover;
}

.cardButton {
  background: #0077f0;
  color: white;
  margin: 0;
  padding: 0;
  border-radius: 20px;
  width: fit-content;
  margin: auto;
  padding: 3.5px 5px;
  &:hover {
    cursor: pointer;
  }
  // width: 38px;
  // height: auto;
  img {
    width: 19px;
    height: auto;
  }
  span {
    font-size: 15px;
  }
}

.cardContent {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0rem 10px;
  width: 100%;
}

.cardTitle {
  color: #000000;
  font-weight: 600;
  font-size: 18px;
  letter-spacing: -0.63px;
}
