.h1 {
  letter-spacing: -1.4px;
  font-size: 37px;
  color: #ffffff;
  margin: 1rem 0rem;

  @media (max-width: 590px) {
    text-align: center;
    font-size: 25px !important;
  }
  @media (max-width: 375px) {
    font-size: 23px !important;
  }
  @media (max-width: 330px) {
    font-size: 21px !important;
  }
}
.inputContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  margin: 1.5rem 0rem;

  input {
    width: 388px;
    height: 54px;
    background: #ffffff;
    border-radius: 27px;
    border: none;
    outline: none;
    font-size: 20px;
    letter-spacing: -0.7px;
    padding: 0rem 2rem;

    @media (max-width: 590px) {
      max-width: 260px;
      height: 40px;
    }
    @media (max-width: 375px) {
      max-width: 240px;
    }
  }
  img {
    position: absolute;
    right: 40px;
    width: 42px;
    height: 42px;

    @media (max-width: 590px) {
      right: 50px;
    }
  }
}

.news {
  max-width: 389px;
  height: 205px;
  margin: auto;
  background: #ffffff 0% 0% no-repeat padding-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media (max-width: 590px) {
    max-width: 260px;
  }

  @media (max-width: 330px) {
    max-width: 230px;
  }
  h4 {
    font-size: 30px;
    letter-spacing: -1.26px;
    color: #0077f0;

    @media (max-width: 590px) {
      font-size: 25px;
    }

    @media (max-width: 330px) {
      font-size: 23px;
    }
  }
  h6 {
    font-size: 17px;
    font-weight: 400;
    letter-spacing: -0.63px;
    color: #878787;

    @media (max-width: 590px) {
      font-size: 12px;
    }

    @media (max-width: 330px) {
      font-size: 11px;
    }
  }

  img {
    width: 77px;
    height: auto;

    @media (max-width: 590px) {
      width: 50px;
    }

    @media (max-width: 330px) {
      width: 40px;
    }
  }
}
