.mainContainer {
   

    h1 {
        font-size: 3rem;
        color: #000;
        margin-bottom: 1rem;
      }
   
  }
  
  .exploreButton {
    background-color: black; 
    color: white;
    padding: 10px 20px;
    font-size: 12px;
    font-weight: 600;
    border: none; 
    &:hover {
      background-color: darken(black, 10%);
      color: #ddd; 
    }
    
  }
  .productCol {
    margin-bottom: 2rem; 
    
  }
  
  .productCard {
    height: 180px;
    // width: 500px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border: none;
    background: #F6F6F6;
    img {
    // width: 300px;
    border-radius: 14px;
    }
    .cardTitle {
      color: #000; 
      font-size:1.7rem !important;

    }
    .cardText{
      color: #808080; 
      font-size: 14px;
    
    }

  }
  

  @media (max-width: 768px) {
    .productCard {
      // Optional: adjust flex-direction back to row if desired on larger screens
      flex-direction: row;
      img {
        width: auto; // Adjust width as necessary, or keep it at 100% if it looks better
      }
    }
  }