@import "~bootstrap/scss/bootstrap";
@import "./input.scss";
@import "./variables.scss";
@import "./mixins";

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-family: "Poppins";
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active {
  border: none !important;
  outline: none !important; /* Remove outline on focus */
  box-shadow: none !important;
}
body.pure-blue{
  font-family: $base-font;
  color: $base-color;
  font-size: $base-size;

  ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  .row-flex,
  .row-flex > div[class*='col-'],
  .row-flex > div[class*='col']{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex:0 0 auto;
  }
  .row-flex-wrap {
    -webkit-flex-flow: row wrap;
    align-content: flex-start;
    flex:0;
  }
  .row-flex > div[class*='col-'],
  .container-flex > div[class*='col-'],
  .row-flex > div[class*='col'],
  .container-flex > div[class*='col']{
    margin:-.0px;
  }
  .container-flex > div[class*='col-'] div,
  .row-flex > div[class*='col-'] div,
  .container-flex > div[class*='col'] div,
  .row-flex > div[class*='col'] div{
    width: auto;
  }
  .flex-col {
    display: flex;
    display: -webkit-flex;
    flex: 1 100%;
    flex-flow: column nowrap;
  }
  .flex-grow {
    display: flex;
    -webkit-flex: 2;
    flex: 2;
  }

  .horizontal-center{
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    left: 50%;
  }

  .vertical-center{
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    top: 50%;
  }


  .flex-auto{
    flex: 0 0 auto;
  }

  .container{
    max-width: 1224px;
  }

  .fw-medium{
    font-weight: 500;
  }

  .fw-semibold{
    font-weight: 600;
  }

  h1,
  h2,
  h3{
    margin: 0;
    padding: 0;
    font-weight: 600;
  }


  h2{
    font-size: 20px;
    text-align: center;

    @include md(){
      font-size: 27px;
    }

    @include lg(){
      font-size: 35px;
    }
  }

  h3{
    font-size: 27px;

    @include md(){
      font-size: 35px;
    }

    @include lg(){
      font-size: 45px;
    }

    span{
      color: $blue-color;
    }
  }


  .verified-badge{
    background: url("/assets/enclomiphene/verified-icon.svg") no-repeat left 5px;
    padding: 0 0 0 19px;
    margin: 11px 0 0 0;
    font-size: 14px;
  }

  p{
    font-weight: 500;
    margin: 0;
  }

  .backend-link{
    padding: 17px 0 0 0;
    font-size: 9px;

    @include md(){
      font-size: 14px;
      padding: 25px 0 0 0;
    }

    a{
      color: #707070;
      text-decoration: underline;

      &:hover{
        color: $base-color;
        text-decoration: none;
      }
    }
  }

  .btn-row{
    padding: 30px 0 0;

    @include md(){
      padding: 56px 0 0;
    }

    a{
      width: 157px;
      height: 33px;
      font-size: 12px;
      padding: 7px 0 8px;
      border-radius: 50px;
      text-decoration: none;
      margin: 10px 12px 0 0;

      @include md(){
        width: 231px;
        height: 48px;
        padding: 10px 0 12px;
        margin: 10px 18px 0 0;
        font-size: 18px;
      }

      &.black-btn{
        background: $base-color;
        color: $white-color;
      }

      &.blue-btn{
        border: 1px solid $blue-color;
        color: $blue-color;
        margin-right: 0;
      }

      &:hover{
        background: $blue-color;
        color: $white-color;
      }
    }
  }

  .back-to-top{
    width: 57px;
    height: 41px;
    position: fixed;
    bottom: 0;
    right: 0;
    background: url("/assets/enclomiphene/back-to-top.png") no-repeat left top;
    cursor: pointer;
    transition: background-color .3s,
    opacity .5s, visibility .5s;
    opacity: 0;
    visibility: hidden;
    z-index: 1;

    &.show {
      opacity: 1;
      visibility: visible;
    }
  }

  .revolutionary-section {
    button {
      &.active {
        background: none;
        border: none;
        position: relative;
        padding: 0;
        color: $blue-color !important;
      }
    }
  }

  .no-js .owl-carousel, .owl-carousel.owl-loaded{display:block}

  .owl-carousel{
    -webkit-tap-highlight-color:transparent;
    position:relative;
    display:none;
    width:100%;
    z-index:1;

    .owl-item{
      -webkit-tap-highlight-color:transparent;
      position:relative;
      -webkit-backface-visibility:hidden;
      -moz-backface-visibility:hidden;
      -ms-backface-visibility:hidden;
      -webkit-transform:translate3d(0, 0, 0);
      -moz-transform:translate3d(0, 0, 0);
      -ms-transform:translate3d(0, 0, 0);
      min-height:1px;
      float:left;
      -webkit-backface-visibility:hidden;
      -webkit-touch-callout:none;

      img{
        display:block;
        width:100%;
      }
    }

    .owl-stage{
      position:relative;
      -ms-touch-action:pan-Y;
      -moz-backface-visibility:hidden;

      &:after{
        content:".";
        display:block;
        clear:both;
        visibility:hidden;
        line-height:0;
        height:0;
      }
    }

    .owl-stage-outer{
      position:relative;
      overflow:hidden;
      -webkit-transform:translate3d(0, 0, 0);
    }

    .owl-wrapper{
      -webkit-backface-visibility:hidden;
      -moz-backface-visibility:hidden;
      -ms-backface-visibility:hidden;
      -webkit-transform:translate3d(0, 0, 0);
      -moz-transform:translate3d(0, 0, 0);
      -ms-transform:translate3d(0, 0, 0);
    }

    .owl-dots{
      cursor:pointer;
      cursor:hand;
      -webkit-user-select:none;
      -khtml-user-select:none;
      -moz-user-select:none;
      -ms-user-select:none;
      user-select:none;
      text-align:center;
      -webkit-tap-highlight-color:transparent;
      position:absolute;
      bottom:-92px;
      width:100%;

      &.disabled{
        display:none;
      }

      .owl-dot{
        display:inline-block;
        zoom:1;
        *display:inline;
        background: none;
        border: none;
        padding: 0;
        margin: 0;

        span{
          width:18px;
          height:18px;
          margin:5px 5px;
          border-radius: 50%;
          display:block;
          -webkit-backface-visibility:visible;
          transition:opacity 200ms ease;
          background: #D2D2D2;
        }

        &:hover{
          span{
            opacity: 1;
          }
        }
        &.active{
          span{
            opacity: 1;
            background: $blue-color;
          }
        }
      }
    }

    .owl-nav{
      .owl-next,
      .owl-prev{
        cursor:pointer;
        cursor:hand;
        -webkit-user-select:none;
        -khtml-user-select:none;
        -moz-user-select:none;
        -ms-user-select:none;
        user-select:none;
        position:absolute;
        bottom: -50px;
        z-index:10000;
        font-size:0px;
        background: none;
        border: none;
        width: 26px;
        height: 33px;
        float: left;
        z-index: 1;

        bottom: -25px;
        border: none;
        border-radius: 0;

        &.disabled{
          display: none;
        }
      }

      .owl-next{
        //background: url("#{$images-path}/arrow-right.svg") no-repeat center;
        left: 240px;
      }
      .owl-prev{
        //background: url("#{$images-path}/arrow-left.svg") no-repeat center;
        left: 80px;
      }


      &.disabled{
        display:none;


        + .owl-dots{
          margin-top:30px;
        }
      }
    }

    &.owl-loading{
      opacity:0;
      display:block;
    }

    &.owl-hidden{
      opacity:0;
    }

    &.owl-refresh{
      .owl-item{
        visibility:hidden
      }
    }

    &.owl-drag{
      .owl-item{
        -webkit-user-select:none;
        -moz-user-select:none;
        -ms-user-select:none;
        user-select:none
      }
    }

    &.owl-grab{
      cursor:move;
      cursor:grab;
    }

    &.owl-rtl{
      direction:rtl;

      .owl-item{
        float:right;
      }
    }

    .animated{
      animation-duration:1s;
      animation-fill-mode:both
    }

    .owl-animated-in{
      z-index:0;
    }

    .owl-animated-out{
      z-index:1;
    }

    .fadeOut{
      animation-name:fadeOut;
    }

    .owl-height{
      transition:height .5s ease-in-out;
    }
  }

}
.step-box {
  background: transparent linear-gradient(180deg, #ffffff 0%, #f1f1f1 100%) 0%
    0% no-repeat padding-box;
  box-shadow: 0 3px 6px #00000029;
  border-radius: 13px;
  padding: 15px 16px 36px 16px;
  position: relative;
  .step-blue-box {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -8px;
    font-size: 23px;
    letter-spacing: -0.81px;
    font-weight: 700;
    color: #fff;
    background: transparent linear-gradient(180deg, #68b3ff 0%, #0077f0 100%) 0%
      0% no-repeat padding-box;
    border-radius: 0px 0px 10px 10px;
    padding: 18px 41px 18px 41px;
    &:before {
      content: "";
      border-top: 8px solid transparent;
      border-left: 10px solid #5385b8;
      position: absolute;
      top: 0;
      right: -9px;
    }
    &:after {
      content: "";
      border-top: 8px solid transparent;
      border-right: 10px solid #5385b8;
      position: absolute;
      top: 0;
      left: -9px;
    }
  }
}
.padding-11 {
  padding-top: 165px;
  padding-bottom: 209px;
}
.font-35 {
  font-size: 35px;
}
.font-17 {
  font-size: 17px;
}
.pb-92 {
  padding-bottom: 92px;
}
.ls2 {
  letter-spacing: -0.7px;
}
.font-20 {
  font-size: 20px;
}
.padding-12 {
  padding-top: 22px;
  padding-bottom: 22px;
}
.color-grey {
  color: #4a4a4a;
}
.grey-line {
  background: #d8d8d8;
  height: 1px;
  margin-bottom: 22px;
}
.ls3 {
  letter-spacing: -0.61px;
}
@media screen and (max-width: 550px) {
  .padding-11 {
    padding-top: 65px;
    padding-bottom: 65px;
  }
  .ls2 {
    font-size: 20px;
  }
}
