@import "~bootstrap/scss/bootstrap";
@import "./input.scss";
@import "./variables.scss";

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-family: "Poppins";
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active {
  border: none !important;
  outline: none !important; /* Remove outline on focus */
  box-shadow: none !important;
}