$primary-color: #ff8900;
$primary-box-shadow: #d700002e;
$primary-background: #eac9c9;

$gray-1: #dbd9d9;
$gray-2: #f2f2f2;

$testimonials-background: #ebebeba3;
$base-color: #000;
$blue-color: #0077F0;
$white-color: #fff;
$base-size: 14px;
$base-font: "Poppins", sans-serif;
$second-font: "Steelfish Rg", sans-serif;