.stepsSection {
  padding: 60px 0;
  background-color: #04315e;

  @media (min-width: 992px) {
    padding: 100px 0;
  }

  & .heading {
    font-size: 28px;
    font-weight: bold;
    color: #fff;
    margin-bottom: 130px;
    text-align: center;

    @media (min-width: 992px) {
      font-size: 45px;
      margin-bottom: 135px;
    }
  }

  & .row {
    padding-left: 24px;
    padding-right: 24px;
    row-gap: 130px;

    @media (min-width: 992px) {
      padding: 0;
    }
  }

  & .paragraph {
    display: none;

    @media (min-width: 992px) {
      display: block;
      text-align: center;
      font-size: 18px;
      font-weight: 500;
      color: white;
      margin-top: 60px;

      & span {
        color: #efb700;
      }
    }
  }
}
